site_name: Online recipes
repo_url: https://github.com/billbrod/recipes
edit_uri: edit/main/docs/

theme:
  name: 'material'
  features:
   - navigation.expand
   - navigation.top
   - content.action.edit
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode palette

plugins:
    - tags:
        tags_file: tags.md
    - search
    - literate-nav:
          nav_file: docs/SUMMARY.md     # navigation file for literate navigation
    - section-index                    # plugin for creating section index

markdown_extensions:
  - tables
  - attr_list
  - pymdownx.betterem
  - pymdownx.superfences

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
  - https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js
  - javascripts/ingredient_initialization.js
extra_css:
  - stylesheets/extra.css

nav:
    - Home: index.md
    - Reference: reference.md
    - Considering: considering.md
    - Cleaning: cleaning.md
    - Cocktails: cocktails/
    - Tags: tags.md
    - Secret recipes: secret_recipes/index.html
    - Recipes: recipes/
